*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variables de colores */
:root {
    --color-red: #e63946;
    --color-light: #f1faee;
    --color-sky: #a8dadc;
    --color-blue: #457b9d;
    --color-dark: #1d3557;
/* Tipografias */
    --font-title: "Unna", serif;
    --font-body: "Playfair Display", serif;

/*tamaños de fuente */
    --fs-small: 0.875rem;
    --fs-base: 1rem;
    --fs-md: 1.25rem;
    --fs-lg: 1.5rem;
    --fs-xl: 2rem;
    --fs-xxl: 2.5rem;
    --fs-hero: 3.5rem;
/* Espaciados */
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 4rem;
    --spacing-xl: 6rem;

/*Otros */
    --border-radius: 8px;
    --radius-lg: 16px;
    --shadow: 0 4px 16px rgba(29, 53, 87, 0.12);
    --shadow-hover: 0 8px 32px rgba(29, 53, 87, 0.22);
    --transition:  0.3s ease;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-body);
    font-size: var(--fs-base);
    color: var(--color-dark);
    background-color: var(--color-light);
    line-height: 1.7;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
/*Tipografia variables */

h1,h2,h3,h4{
    font-family: var(--font-title);
    font-weight: 700;
    line-height: 1.2;
    color:var(--color-dark);
}
 
h1 {
    font-size: var(--fs-hero);
}
h2 {
    font-size: var(--fs-xl);
    margin-bottom: var(--space-md)  
}
h3 {
    font-size: var(--fs-lg);
}
p {
    font-family: var(--font-body);
    font-size: var(--fs-base);
    line-height: 1.8;
    margin-bottom: var(--space-md);
}

section > h2 {
    
    position: relative;
    display: inline-block;
    padding-bottom: var(--space-xs);
    margin-bottom: var(--space-md);
}

section > h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 4px;
    background-color: var(--color-red);
    border-radius: 2px;
}

/*Layout general*/

section {
    padding: var(--space-xl) var(--space-md);
    max-width: 1200px;
    margin: 0 auto;
}

/*botones*/
.btn-primary {
    display: inline-block;
    background-color: var(--color-red);
    color: var(--color-light);
    font-family: var(--font-body);
    font-size: var(--fs-base);
    font-weight: 700;
    